@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,200&family=Patua+One&display=swap');

font-family: 'Exo', sans-serif;
font-family: 'Patua One', cursive;

body{
  margin: 0;
  padding: 0;
}
li{
  font-family: 'Exo', sans-serif;
}
li:hover{
  color: #116dff;
  cursor: pointer;
  font-weight: bold;
}
p{
  font-family: 'Exo', sans-serif;
}
a{
  font-family: 'Exo', sans-serif;
  text-decoration: none;
}
a:hover{
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
button{
  font-family: 'Exo', sans-serif:
}
h3{
  font-family: 'Patua One', cursive;
}
header{
  display: inline-flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  box-shadow: 0px 3px 10px;
  align-items: center;
  width: 100%;
  background-color: white;
  z-index: 4;
}
header > div{
  list-style: none;
  display: inline-flex;
}
header > div > li{
  padding: 10px;
  align-items: center;
}
.align{
  position: relative;
  top: 15px
}
.hralign{
  border-left: 1px solid grey;
  position: relative;
  height: 5px;
  top: 20px;
  left: 5px
}
#hralign{
  border-left: 1px solid grey;
  position: relative;
  height: 10px;
}
.s1but{
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background-color: white;
  color: #116dff;
  border-color: #116dff;
}
.s1but:hover{
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background-color: #116dff;
  color: white;
  border-color: #116dff;
}
.change {
  position: relative;
  top: 10px;
}
.se1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px
}
.se1p1{
  font-size: 80px;
  font-weight: bolder;
}
.se1p2{
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px
}
.se1b1{
  background: #116dff;
  border-radius: 20px;
  color: white;
  height: 50px;
  width: 180px;
  font-size: 25px;
  border-color: #116dff;
}
.se2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}
.test{
  position: relative;
  top: 120px;
  z-index: 1
}
.test2{
  position: relative;
  right: 80px;
  top: 115px;
  z-index: 1
}
.test3{
  position: relative;
  top: 100px;
  right: 150px;
  z-index: 1
}
.se3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 250px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 80px;
  background-color: rgb(20, 52, 142);
}
.se3div1{
  font-size: 50px;
  font-weight: bolder;
  color: white;
}
.se3div2{
  font-size: 20px;
  color: white;
}
.link{
  color: white
}
.se4p1{
  font-size: 25px;
  font-weight: bolder;
}
.p1{
  font-size: 48;
  font-weight: bolder;
}
.p2{
  font-size: 20px;
}
.se4{
  display: flex;
  color: white;
}
.se4p1{
  font-size: 46px;
}
.se4p2{
  font-size: 20px;
}
.se4div1{
  background-color: rgb(3, 89, 70);
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 70px;
  padding-right: 70px;
}
.pbold{
  font-size: 20px;
  font-weight: bolder;
}
.se4div2{
  background-color: rgb(244, 244, 244);
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 70px;
  padding-right: 70px;
}
.se4div1div1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.paddingfordiv{
  padding: 10px
}
.se5p1{
  font-size: 48px;
  font-weight: bolder;
}
.se5p2{
  font-size: 20px;
}
.se5{
  text-align: center;
  padding-top: 200px;
  background-color: rgb(244, 244, 244);
}
.span2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px;
}
.span2 > div{
  padding-bottom: 20px
}
.se6{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px;
  padding: 50px
}
.se6 > div {
  padding: 20px
}
.p1middle{
  font-size: 48px;
  font-weight: bolder;
  margin: 100px
}
.se6 > div > p{
  padding: 20px
}
.se6 > div > a{
  padding: 20px
}
.se6p1{
  font-size: 46px;
  font-weight: bolder;
}
.se6p2{
  font-size: 20px
}
.se7hr{
  position: relative;
  bottom : 20px;
  left : 250px;
  width: 700px
}
.se7{
  margin: 100px;
  font-size: 20px;
  font-weight: bolder;
}
.se8p1{
  font-size: 48px;
  font-weight: bolder;
}
.se8p2{
  font-size: 20px;
}
.se8{
  padding:  100px;
  color: white;
  text-align:center;
  background-color: rgb(20, 52, 142);
}
.se8 > div > ul{
  list-style-type: none;
  padding: 30px
}
.se8 > div > ul > li{
  padding-top: 10;
  padding-bottom: 10px;
  font-size: 20px
}
.se8 > div > a{
  color: white;
  font-size: 30px;
  padding: 5px
}
.se9{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.se9div2{
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 300px;
  padding-bottom: 100px
}
.se9p1{
  font-size: 48px;
  font-weight: bolder;
}
.se9p2{
  font-size: 20px;
}
.se9div2 > p {
  padding: 10px;
}
.div9{
  font-size: 28px
}
.se9div2 > a{
  color: black
}
.se10{
  margin: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}
.se10 > div > li{
  list-style: none;
  color: blue;
}
.se10 > div > h3{
  font-size: 20px
}
.se10positionchange{
  position: relative;
  top: 100px
}
.se10online{
  display: inline-flex;
  justify-content: space-between;
}
.se11{
  background-color: 255,255,255;
  margin: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.se11p1{
  font-size: 48px;
  font-weight: bolder;
}
.se11p2{
  font-size: 20px
}
.se11 > div > a{
  font-size: 25px;
  color: black;
}
.se12{
  display: inline-flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0;
  background-color: black;
  color: white;
}
.hr{
  border-left: 1px solid white;
  height : 620px;
}
.se12 > div {

}
.se12div3{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.se12div3 > div{
  padding: 20px
}
.se12 > div > h3{
  font-size: 48px
}
.se12 > div > p{
  font-size: 20px
}
.se12 > div > a {
  color: white;
  font-size: 28px
}
.se13{
  padding: 100px
}
.se13 > div {
  padding: 50px
}
.se13 > h3{
  padding-bottom: 50px;
  font-size: 48px
}
.se13 > div{
  display: grid;
  grid-template-columns: 10% 40% 50%;
  font-family: 'Exo', sans-serif;
}
.se13bold{
  font-weight: bolder;
  font-family: 'Patua One', cursive;
}
.se14 > div > img{
  width: 62px;
  height: 24px
}
center{
  font-family: 'Exo', sans-serif;
}
.se14{
  margin: 100px;
  display: flex;
  justify-content: space-between;
}
.se14 > div{
  padding: 40px;
  list-style: none;
}
.se14 > div > li{
  padding-bottom : 10px;
  font-size: 15px;
  color: #43515c
}
.se14 > div > h3{
  padding-bottom: 10px
}
.se14 > div > img{
  padding-bottom: 8px
}
